* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  border: 3px dashed tomato;
}

section#drum {
  max-width: 100vw;
  min-height: 40vh;
}

section#drumpadup {
  max-width: 100vw;
  height: 25vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

section#drumpaddown {
  max-width: 100vw;
  height: 25vh;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

div {
  min-height: fit-content;
  width: 250px;
  border: 2px solid black;
}
